.button {
    overflow: hidden;
    display: inline-block;
    line-height: 1.4;
    border-radius: 35px;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: center;
    cursor: pointer;
    vertical-align: middle;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    transition: all .25s ease-in-out;
    text-transform: uppercase;
    text-decoration: none!important;
    position: relative;
    z-index: 1;
    padding: 16px 70px 16px 35px;
    font-size: 15px;
    font-weight: 600;
    color: #fff;
    background-color: transparent;
    border: 1px solid #ffb400;
    outline: none!important;
    margin-top: 20px;

    path {
        //cursor: pointer;
    }
}

.button .buttonText {
    position: relative;
    z-index: 2;
    color: #fff;
    transition: all 0.3s ease-out;
    //cursor: pointer;
}

.buttonIcon {
    position: absolute;
    right: -1px;
    top: -1px;
    bottom: 0;
    width: 55px!important;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    border-radius: 50%;
    background-color: #ffb400;
    //cursor: pointer;
}

.buttonIcon svg {
    font-size: 19px;
    //cursor: pointer;
}

.button:before {
    z-index: -1;
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transform: translateX(100%);
    transition: all .3s ease-out;
    background-color: #ffb400;
    box-sizing: border-box;
    //cursor: pointer;
}

.button:hover:before {
    transform: translateX(0);
}

.success {
    border: 1px solid green;
    cursor: default;
}

.success .buttonIcon {
    background-color: green;
}

.success:hover:before {
    transform: translateX(100%);
}