.form {
  padding-left: 45px;
  padding-right: 15px;
  flex: 0 0 auto;
  width: 66.66666667%;

  @media(max-width: 1000px) {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
  }

  .container {
    display: flex;
    flex-wrap: wrap;

    .wrapperInput {
      padding-left: 15px;
      padding-right: 15px;
      flex: 0 0 auto;
      width: 50%;
      max-width: 100%;
      box-sizing: border-box;

      @media(max-width: 700px) {
        width: 100%;
      }
      @media(max-width: 600px) {
        padding-left: 0;
        padding-right: 0;
      }
    }

    .wrapperInputSubj {
      padding-left: 15px;
      padding-right: 15px;
      flex: 0 0 auto;
      width: 100%;
      max-width: 100%;
      box-sizing: border-box;

      @media(max-width: 600px) {
        padding-left: 0;
        padding-right: 0;
      }
    }

    .wrapperTextarea {
      padding-left: 15px;
      padding-right: 15px;
      flex: 0 0 auto;
      width: 100%;
      max-width: 100%;
      box-sizing: border-box;

      @media(max-width: 600px) {
        padding-left: 0;
        padding-right: 0;
      }
    }

    .formGroup {
      margin-bottom: 30px;
      display: block;

      @media(max-width: 600px) {
        margin-bottom: 20px;
      }

      input {
        background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAAXNSR0IArs4c6QAAAfBJREFUWAntVk1OwkAUZkoDKza4Utm61iP0AqyIDXahN2BjwiHYGU+gizap4QDuegWN7lyCbMSlCQjU7yO0TOlAi6GwgJc0fT/fzPfmzet0crmD7HsFBAvQbrcrw+Gw5fu+AfOYvgylJ4TwCoVCs1ardYTruqfj8fgV5OUMSVVT93VdP9dAzpVvm5wJHZFbg2LQ2pEYOlZ/oiDvwNcsFoseY4PBwMCrhaeCJyKWZU37KOJcYdi27QdhcuuBIb073BvTNL8ln4NeeR6NRi/wxZKQcGurQs5oNhqLshzVTMBewW/LMU3TTNlO0ieTiStjYhUIyi6DAp0xbEdgTt+LE0aCKQw24U4llsCs4ZRJrYopB6RwqnpA1YQ5NGFZ1YQ41Z5S8IQQdP5laEBRJcD4Vj5DEsW2gE6s6g3d/YP/g+BDnT7GNi2qCjTwGd6riBzHaaCEd3Js01vwCPIbmWBRx1nwAN/1ov+/drgFWIlfKpVukyYihtgkXNp4mABK+1GtVr+SBhJDbBIubVw+Cd/TDgKO2DPiN3YUo6y/nDCNEIsqTKH1en2tcwA9FKEItyDi3aIh8Gl1sRrVnSDzNFDJT1bAy5xpOYGn5fP5JuL95ZjMIn1ya7j5dPGfv0A5eAnpZUY3n5jXcoec5J67D9q+VuAPM47D3XaSeL4AAAAASUVORK5CYII=);
        background-repeat: no-repeat;
        background-attachment: scroll;
        background-size: 16px 18px;
        background-position: 98% 50%;
        margin: 0;
      }

      input[type="email"],
      input[type="text"] {
        border: 1px solid #111;
        width: 100%;
        background: #252525;
        color: #fff;
        padding: 11px 26px;
        border-radius: 30px;
        outline: none!important;
        transition: .3s;
      }

      textarea {
        border: 1px solid #111;
        background: #252525;
        color: #fff;
        width: 100%;
        padding: 12px 26px;
        height: 215px;
        overflow: hidden;
        border-radius: 30px;
        outline: none!important;
        transition: .3s;
        resize: vertical;
        margin: 0;

      }
    }

    .wrapperButton {
      flex: 0 0 auto;
      width: 100%;
      padding-left: 20px;

      @media(max-width: 1000px) {
        text-align: center;
        padding-left: 0;
      }
    }
  }

  .error,
  .success {
    color: #66b226;
    padding-top: 20px;
    padding-left: 20px;
  }

  .error {
    color: mediumvioletred;
  }
}
