.header {
  position: fixed;
  right: 30px;
  display: flex;
  align-items: center;
  top: 50%;
  opacity: 1;
  transition: opacity .3s;
  -webkit-transition: opacity .3s;
  transform: translateY(-50%);
  z-index: 10;
}

@media(max-width: 1000px) {
  .header {
    left: 0;
    right: auto;
    bottom: 0;
    top: auto;
    transform: none;
    width: 100%;
    display: block;
    background: #2b2a2a;
    padding: 8px;
  }
}