.skills {
    display: flex;
    flex-wrap: wrap;
    /*flex: 0 0 auto;*/
    /*width: 100%;*/
}

.title {
    font-size: 26px;
    font-weight: 600;
    text-align: center;
    padding-bottom: 3rem;
    flex: 0 0 auto;
    width: 100%;
    text-transform: uppercase;
}

.skill {
    flex: 0 0 auto;
    width: 25%;
}

.skillWrapper {
    position: relative;
    font-size: 120px;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    float: none;
    margin: 0 auto;
    background-color: #252525;
}

.skillWrapper span {
    position: absolute;
    display: block;
    box-sizing: content-box;
    z-index: 1;
    left: 0;
    top: 0;
    width: 5em;
    line-height: 5em;
    font-size: .2em;
    font-weight: bold;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    transition-property: all;
    transition-duration: .2s;
    transition-timing-function: ease-out;
}

.skillWrapper .slice {
    position: absolute;
    width: 1em;
    height: 1em;
    /*clip: rect(0,1em,1em,0.5em);*/
    /*clip: rect(auto,auto,auto,auto);*/
    box-sizing: content-box;
}

.skillWrapper .bar {
    position: absolute;
    border: 0.08em solid #ffb400;
    width: 0.84em;
    height: 0.84em;
    clip: rect(0,0.5em,1em,0);
    border-radius: 50%;
    /*transform: rotate(320deg);*/
    box-sizing: content-box;
}

.skillWrapper .fill {
    position: absolute;
    border: 0.08em solid #ffb400;
    width: 0.84em;
    height: 0.84em;
    clip: rect(0,0.5em,1em,0);
    border-radius: 50%;
    transform: rotate(180deg);
    box-sizing: content-box;
}

.skillWrapper:after {
    position: absolute;
    display: block;
    top: 0.08em;
    left: 0.08em;
    content: " ";
    border-radius: 50%;
    background-color: #111;
    width: 0.84em;
    height: 0.84em;
    transition-property: all;
    transition-duration: .2s;
    transition-timing-function: ease-in;
}

.skillname {
    font-family: "Open Sans",sans-serif;
    margin-top: 1.5rem;
    text-align: center;
    text-transform: uppercase;
}


@media(max-width: 600px) {
    .skill {
        flex: 0 0 auto;
        width: 33.3333%;
    }

    .title {
        padding-top: 3rem;
        padding-bottom: 1rem;
        flex: 0 0 auto;
        width: 100%;
        text-transform: uppercase;
    }
}

@media(max-width: 500px) {
    .skill {
        flex: 0 0 auto;
        width: 50%;
    }
}