.nav {
    margin: 0;
    padding: 0;
}

.navItem {
    width: 50px;
    height: 50px;
    list-style: none;
    position: relative;
    color: #fff;
    display: flex;
    align-items: center;
    transition: .3s;
    margin: 20px 0;
    border-radius: 50%;
    background: #2b2a2a;
    cursor: pointer;
}

.navItem h2 {
    z-index: -1;
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0;
    color: #fff;
    background-color: #ffb400;
    line-height: 50px;
    transition: all .3s;
    border-radius: 30px;
    text-transform: uppercase;
    padding: 0 25px 0 30px;
    height: 50px;
    margin: 0;
    text-align: center;
    letter-spacing: 2px;
    font-size: 15px;
}

.navItem:hover h2 {
    opacity: 1;
    right: 27px;
    margin: 0;
    text-align: center;
    border-radius: 30px 0 0 30px;
}

.active .navItem,
.navItem:hover {
    background-color: #ffb400;
}

.logoHome:before {
    content: '\f015';
}

.navItem .icon {
    position: absolute;
    pointer-events: none;
    left: 0;
    right: 0;
    margin: 0 auto;
    display: block;
    text-align: center;
    top: 14px;
    font-size: 19px;
    transition: .3s;
    color: #fff;
}

@media (max-width: 1000px) {
    .nav {
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    .navItem {
        margin: 0;
        width: 45px;
        height: 45px;
        background-color: #444444;
        /*margin: 0!important;*/
        /*width: 45px!important;*/
        /*height: 45px!important;*/
    }

    .navItem h2 {
        display: none;
    }
}

@media (max-width: 600px) {

}
