.title {
    margin: 0 auto;
    width: 100%;
    position: relative;
    padding: 80px 0;
    text-align: center;
    font-family: 'Poppins Extra Bold', sans-serif;
}

.title h1 {
    font-size: 56px;
    font-weight: 900!important;
    color: #fff;
    text-transform: uppercase;
    margin: 0;
    font-family: 'Poppins Extra Bold', sans-serif;
}

.title h1 span {
    color: #ffb400;
}

.titleBg {
    font-size: 110px;
    left: 0;
    letter-spacing: 10px;
    line-height: .7;
    position: absolute;
    right: 0;
    top: 50%;
    text-transform: uppercase;
    font-weight: 800;
    transform: translateY(-50%);
    color: hsla(0,0%,100%,.07);
}

@media (max-width: 1200px) {
    .h1, h1 {
        /*font-size: 2.5rem;*/
    }
}